EMAIL=dummymail
PASSWORD=dummypassword
DATE=2026-06-22
UPI_VPA=1234567890@yescred
MEMBERS=[{"name":"Abhishek Kumar","age":23,"gender":"Male","idType":"Pancard","idNumber":"asdasdsa","mobile":"1234567890"}]
# OTP automation: manual (type in terminal), adb (Android USB), webhook (SMS forwarder)
# OTP_MODE=manual
OTP_MODE=adb
# OTP_MODE=webhook
# OTP_WEBHOOK_PORT=3847
# OTP_TIMEOUT_MS=120000
# TEST_MODE=dry-run
TEST_MODE=live

# Netravati Trek
# TREK_ID=113
# TIME_SLOT_ID=45
# TIME_SLOT_MAPPING_ID=187

#other trek
TREK_ID=143
TIME_SLOT_ID=46
TIME_SLOT_MAPPING_ID=237



